.sidebar {
  width: 360px;
  border-right: 1px solid #ccc;
  padding: 24px 16px 0px 16px;
}
.main {
  display: flex;
}

.dashboard-container {
  padding: 32px;
  width: 100%;
}

.dashboard-heading {
  margin-bottom: 32px;
}

.dashboard-form {
  display: flex;
  gap: 24px;
}

.dashboard-form-main {
  flex-grow: 1;
}
.dashboard-form-nav {
  margin-right: 24px;
  margin-left: 24px;
}
.upload-profile-picture-container {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 32px;
  margin-top: 30px;
  border: 1px dashed #b3b3b3;
  border-radius: 8px;
}

.upload-profile-picture-container img {
  width: 128px;
  height: 128px;
}

.upload-profile-picture-container p {
  margin-top: 13px;
}

.upload-profile-picture-container p.text-muted {
  margin-top: 4px;
  margin-bottom: 16px;
}

.dashboard-nav-list {
  padding: 16px;
  list-style: none;
  border: 1px solid #e5e4e2;
  box-shadow: 0px 1px 2px 0px rgba(46, 46, 45, 0.1);
  border-radius: 8px;
}

.dashboard-nav-list li {
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.dashboard-nav-list li a {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
}

.dashboard-nav-list li:hover {
  background-color: #dbcbad;
}

.dashboard-nav-list li.active-link {
  background-color: #ffedcb;
}
.personal-info-form {
  display: flex;
  gap: 30px;
}
.personal-info-form .input-container {
  margin: 30px 0 0 0;
  flex-grow: 1;
}

#personal-info .input-container .input-group,
#professional-info .input-container .input-group {
  max-width: 100%;
  width: 100%;
}

.drop-picture-container {
  border-radius: 8px;
  border: 1px dashed #b3b3b3;
  padding: 32px;
}
